body {

    font-family: 'EB Garamond', serif;
    font-weight: 400;
    text-align: center;

}

/*Generic Styles*/

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.center {
    text-align: center;
}

.ColouredContainer {
    animation: colorchange 30s infinite;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 50s infinite;
    /* Chrome and Safari */
}

h1 {
    font-size: 45px;
    line-height: 1.3em;
}

h2 {
    font-size: 30px;
    line-height: 1.3em;
}

p {
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.02em;
}

.CTA {
    text-align: center;
    padding: 25px 26px 26px 26px;
    width: 200px;
    margin: 0 auto;
    border: solid 1px #000;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.1);

    /*
    -moz-box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
*/


    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;


}

.CTA:hover {
    background: #184336;
    color: #fff;
    width: 220px;
    letter-spacing: 0.1em;
    cursor: pointer;
}

@keyframes colorchange {
    0% {
        background: #b7ebe4;
    }

    50% {
        background: #ffdbdb;
    }

    100% {
        background: #b7ebe4;
    }
}

@-webkit-keyframes colorchange

/* Safari and Chrome - necessary duplicate */
    {
    0% {
        background: #b7ebe4;
    }

    50% {
        background: #ffdbdb;
    }

    100% {
        background: #b7ebe4;
    }
}


.ControlledWidth {
    display: block;
    margin: 0 auto;
    width: 75%;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}





/*Header*/


.HeaderLogo {
    display: block;
    margin: 0 auto;
    width: 450px;
    padding: 52px 12px 46px 0;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.smaller .HeaderLogo {

    display: block;
    margin: 0 auto;
    width: 380px;
    padding: 42px 12px 36px 0;

}

nav {
    border-bottom: solid #000 1px;
    border-top: solid #000 1px;

    overflow: hidden;
    margin-left: -20px;
    opacity: 0;
}

nav ul {
    overflow: hidden;
    font-size: 20px;
    width: 100%;
}

nav ul a {

    text-decoration: none;
    color: #000;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav ul a:hover {
    padding-top: 0px;
    font-style: italic;
}

nav .currentPage {
    border-bottom: solid #000 2px;
    border-top: solid #000 2px;
    padding-top: 0px;
    font-style: italic;
}

nav li {

    text-align: center;
    padding: 20px 0 23px 0;
    float: left;
    width: 20%;
}

#mainNav {
    display: none;
}


/*Burger Menu*/

.mobileMenuToggle:hover {
    cursor: pointer;
}

#openBurgerMenu,
#closeBurgerMenu {
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
    padding: 20px 0;
    text-align: center;
}

#openBurgerMenu:hover,
#closeBurgerMenu:hover {
    letter-spacing: 2px;
}

#mobileMenu {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: solid #000 1px;
}

#mobileMenu li {
    padding: 10px 0;
}

#mobileMenu li:hover {
    font-style: italic;
}

#mobileMenu .currentPage {
    font-weight: 700;
    letter-spacing: 1px;
}

/* Larger than mobile */
@media (min-width: 570px) {

    #mainNav,
    #HeaderNavResponsive {
        display: block;
    }

    #openBurgerMenu,
    #mobileMenu,
    #openBurgerMenu,
    #closeBurgerMenu {
        display: none;
    }

}



/*HomepageSlider*/


.HomepageSlider {
    margin-top: 54px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}



/*Homepage About*/


.HomeAbout {
    padding: 60px 0 15px 0;

}

.HomeAbout h1 {
    font-size: 55px;
    line-height: 1.35em;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.HomeAbout p {
    font-size: 20px;
    line-height: 2em;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 760px;
    margin: 20px auto 0 auto;
}

/*Homepage CTA to Projects Section*/

.GenericSection {
    padding: 100px 0;
}

.GenericSection p {
    text-align: center;
    max-width: 720px;
    margin: 20px auto 0 auto;
}


/*Testimonial*/

.testimonials {

    background: #184336;
    color: #fff;
    text-align: center;
    padding: 200px 0;

}

.testimonials q {
    quotes: "“""”""‘""’";
    font-style: italic;
    font-size: 30px;
    line-height: 1.6em;
}

.testimonials q:before {
    content: open-quote;
}

.testimonials q:after {
    content: close-quote;
}

.testimonials h2 {
    font-size: 14px;
    font-style: normal;
    margin-top: 50px;
}


/*Featured Projects*/

.FeaturedProjects {
    overflow: hidden;

}

.FeaturedProjects .Left,
.FeaturedProjects .Right {
    width: 48.75%;
    float: left;
}

.FeaturedProjects .Left {
    margin-right: 2.5%;
}

.FeaturedProjects .MainViewProject {
    position: relative;
    width: 100%;
    margin-top: 5%;
}

.FeaturedProjects .MainViewProject img {
    width: 100%;
    vertical-align: text-top;
}

.FeaturedProjects .MainViewProject .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #46141b;
    opacity: 0;



    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.MainViewProject:hover .image-overlay {
    opacity: 1;
}

.image-overlay-title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -12px;
    text-align: center;
    color: #ffdbdb;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.FeaturedProjects h2 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.08em;
    text-align: center;
    font-weight: 400;
}

/*Featured Projects Navigation*/

.ProjectType {
    width: 100%;
    margin-top: 22px;
}

.ProjectType li {
    list-style: none;
    float: left;
    width: 18%;
    margin: 1%;
    padding: 10px 0;
    background: rgba(180, 180, 180, 0.15);

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.ProjectType .selected {
    background: rgba(255, 255, 255, 0.4);
}

.ProjectType li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
}

/*Detailed Projects*/

.ProjectInfo {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 35px;
}

.ProjectInfo h1 {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.ProjectDetails {
    width: 50%;
    float: right;
}

.ProjectInfo > div {
    overflow: hidden;
}

.ProjectInfo h2 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}

.ProjectInfo h3 {
    font-weight: 300;
    font-size: 16px;
    margin-top: -21px;
}

.ProjectInfo p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

.DetailedProjects img {
    width: 100%;
    margin-bottom: 10px;
}

/*Contact*/

.contact {
    width: 100%;
    padding: 70px 0 80px 0;
    overflow: hidden;
}

.contact .text {
    width: 50%;
    max-width: 600px;
    text-align: left;
    float: left;
}

.contact form {
    width: 45%;
    float: right;
}

.contact .text h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.contact .text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
    width: 90%;
}

.contact form input,
.contact form textarea {
    width: 100%;
    margin-top: 45px;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px;
    padding: 16px;
    font-size: 14px;
}

.contact form textarea {
    margin-top: 62px;
    margin-bottom: 16px;
    height: 60px;
}

.contact button {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

.contact textarea:focus,
.contact input:focus {
    outline: none;
}

/*Footer*/


footer {
    background: #46141b;
    padding: 60px 0;
    text-align: center;
    color: #ffdbdb;
}

footer a {
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #ffdbdb;
}

footer a:hover {
    text-decoration: underline;
}

footer .instagram-feed {
    margin: 30px 0;
    overflow: hidden;
}

footer .instagram-feed img {
    float: left;
    width: 18%;
    margin: 1% 1%;
}

footer .instagram-feed img:hover {
    opacity: 0.9;
}


footer .SocialMedia {
    padding-top: 24px;
    margin: 0 auto;
    overflow: hidden;
    width: 104px;
}

footer .SocialMediaCircle {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px;
    border: solid 1px #46141b;

}

footer .SocialMediaCircle:hover {
    border-bottom: solid 1px #ffdbdb;
}

footer .FacebookFooterIcon {
    width: 15px;
    margin-top: 12px;
}

footer .InstagramFooterIcon {
    width: 20px;
    margin-top: 10px;
}








/*Clients*/

.clients {
    overflow: hidden;
    border: solid rgba(255, 0, 0, 0);
}

.clients .heading {
    margin-top: 60px;
    margin-bottom: 52px;
    overflow: hidden;

    border: solid rgba(255, 0, 0, 0);
}

.clients .heading hr {
    margin-top: 10px;
    border-top: 1px solid #000;
}

.clients h1 {
    width: 400px;

    margin-top: -8px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.01em;
    font-weight: 400;

    margin: -18px auto 0 auto;
    display: block;
}

.clients .designedbyletterlust,
.clients .workedwith {
    overflow: hidden
}

.clients img {
    width: 25%;
    float: left;
}

.clients img:hover {
    opacity: 0.5;
}


/*
.clients .workedwith {
    margin-bottom: 60px;
}
*/





/*About*/

.about {
    overflow: hidden;
}

.about-Text-Img-Container {
    overflow: hidden;
    padding-top: 60px;
}

.about-full-width-image {
    padding-top: 60px;
    width: 100%;
}

.about-Text-Img-Container img {
    width: 30%;
    float: left;
}

.about .text {
    width: 60%;
    padding: 0 5%;
    float: left;
    text-align: left;
}

.about h2 {
    margin-bottom: 20px;
}

.about p span {
    font-style: italic;
}

.about p a {
    color: #000;
    border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
    text-decoration: none;
    font-style: italic;
    padding: 7px 0;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.about p a:hover {

    border-bottom: solid rgba(0, 0, 0, 1) 1px;

    -webkit-filter: blur(1px);
    -moz-filter: blur(1);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}












/*Responsiveness*/


/*	Less than 1020 */

@media (max-width: 1020px) {


    .ControlledWidth {
        max-width: 800px;
    }


    h1 {
        font-size: 38px;
        line-height: 55px;
    }

    .HomeAbout h1 {
        font-size: 45px;
    }

    .ProjectInfo h1 {
        line-height: normal;
    }

    .about p {
        font-size: 16px;
    }

    footer a {
        font-size: 16px;
    }

}

/*	Less than 820 */

@media (max-width: 820px) {


    .ControlledWidth {
        width: 550px;
    }

    .HeaderLogo {
        width: 500px;
    }

    header.smaller .HeaderLogo {
        width: 400px;
    }

    #mainNav li {
        width: 110px;
    }


    h1,
    .HomeAbout h1 {
        font-size: 31px;
    }

    p {
        font-size: 18px;
    }

    .GenericSection h2 {
        margin-top: 22px;
        max-width: 400px;
    }

    .GenericSection {
        padding: 40px 0;
    }

    .GenericSection p {
        max-width: 460px;
    }

    .HomepageSlider {
        margin-top: 34px;
    }

    .HomeAbout {
        padding: 50px 0;
    }

    .contact .text, .contact form {
        width: 100%;
        float: none;
    }
    
    .contact .text p {
        width: 100%;
    }

    footer {
        padding: 40px 0;
    }

    footer a {
        font-size: 16px;
    }

    MainViewProject {
        margin-top: 40px;
    }

    .FeaturedProjects h2 {
        font-size: 16px;
    }

    .clientmargintop {
        margin-top: -34px;
    }

}


/*	Less than 500 Mobile */

@media (max-width: 570px) {

    .ControlledWidth {
        width: 300px;
    }

    .HeaderLogo {
        width: 280px;
    }

    header.smaller .HeaderLogo {
        width: 240px;
    }

    h1 {
        font-size: 24px;
        line-height: 1.5em;
    }

    p {
        font-size: 16px;
        margin-top: 22px;
    }

    .HomeAbout h1 {
        font-size: 34px;
    }

    .HomeAbout h2 {
        font-size: 14px;
    }

    .FeaturedProjects .Left,
    .FeaturedProjects .Right {
        width: 100%;
        float: left;
    }

    .ProjectType {
        margin-top: 14px;
    }

    .ProjectType li {
        font-size: 12px;
        line-height: 14px;
        height: 28px;

    }

    .ProjectInfo h1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .ProjectInfo h3 {
        margin-top: 20px;
    }

    .ProjectDetails {
        float: none;
        width: 100%;
    }

    .clients .heading {
        margin-top: 30px;
    }

    .clients h1 {
        width: 288px;
        font-size: 22px;
        line-height: 30px;
    }

    .client {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }

    .clientmargintop {
        margin-top: -59px;
    }

    .clients img {
        width: 49%;
    }

    .about h2 {
        font-size: 40px;
    }

    .about p {
        font-size: 14px;
    }

    .about img {
        width: 100%;
    }

    .about .text {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .about #office-portrait {
        margin-top: 60px;
    }

    .about #beach-picture {
        display: none;
    }
    
    .contact .text h1 {
        font-size: 48px;
        letter-spacing: 1px;
    }
    
    .contact .text p {
        letter-spacing: 0.02em;
    }

}