/*Fonts*/

@font-face {
    font-family: 'objectsans-regular';
    src: url('../fonts/objectsans-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'objectsans-bold';
    src: url('../fonts/objectsans-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'bebasneue-bold';
    src: url('../fonts/bebasneue-bold-webfont.woff') format('woff');
}




/*Generic Styles*/

body {
    font-family: 'objectsans-regular';
}

.ControlledWidth {
    display: block;
    margin: 0 auto;
    width: 85%;
}

.SectionPadding {
    padding: 100px 0;
}



/*Text Hierarchy */

h1 {
    font-family: 'bebasneue-bold';
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    font-family: 'bebasneue-bold';
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    font-family: 'bebasneue-bold';
    font-size: 22px;
    text-transform: uppercase;
}




/*Buttons*/


.Button {
    text-decoration: none;
}

.Button > div {
    width: 220px;
    padding: 12px 18px 10px 18px;
    border-radius: 4px;
    overflow: hidden;
}

.Button h10 {
    font-family: 'bebasneue-bold';
    font-size: 18px;
    text-transform: uppercase;
}

.Button .ButtonArrow {
    width: 50px;
    height: 9px;
    background-size: cover;
    float: right;
    margin-top: 4px;
}




/*Orange Button*/


.OrangeButton {
    color: #FF7D00;
    transition: color 0.5s ease;
}

.OrangeButton > div {
    border: solid 1px #FF7D00;
}

.OrangeButton .ButtonArrow {
    background-image: url("../img/GenericElements/CTAArrowOrange.png");
}

.OrangeButton:hover {
    color: #fff;
}

.OrangeButton > div:hover {
    background: #FF7D00;
}

.OrangeButton > div:hover .ButtonArrow {
    background-image: url("../img/GenericElements/CTAArrowWhite.png");
}


/*White Button*/


.WhiteButton {
    color: #fff;
}

.WhiteButton > div {
    border: solid 1px #fff;
}

.WhiteButton .ButtonArrow {
    background-image: url("../img/GenericElements/CTAArrowWhite.png");
}

.WhiteButton:hover {
    color: #FF7D00;
}

.WhiteButton > div:hover {
    background: #fff;
}

.WhiteButton > div:hover .ButtonArrow {
    background-image: url("../img/GenericElements/CTAArrowOrange.png");
}


/*Request Meeting*/

.RequestMeeting {
    background: linear-gradient(335deg, #E85F2C 0%, #E88324 100%);
    color: #fff;
}

.RequestMeetingText {
    margin-left: 50px;
}

.RequestMeetingText p {
    font-size: 18px;
    line-height: 32px;
    margin: 26px 0 30px 0;
    width: 500px;
}


/*Header*/

header {
    padding: 35px 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.HeaderLogo {
    width: 100px;
    float: left;
}

.MainNav {
    float: right;
    width: 600px;
    margin-top: 4px;
}

.MainNav ul {
    display: flex;
    justify-content: flex-end;
}

.MainNav li {
    font-family: 'objectsans-bold';
    text-align: center;
    font-size: 16px;
    padding: 20px 7px;
    margin: 0 5px;
    text-transform: uppercase;
}

/*
.CurrentPage, .MainNav li:hover {
    border-bottom: solid 1px #fff;
}
*/

.CurrentPage,
.MainNav li:hover {
    opacity: 0.7;
}

.MainNav a {
    color: #fff;
    text-decoration: none;
}


/*Burger Menu*/



/* Larger than mobile */



/*Intro Section*/


.IntroSection {
    height: 100vh;
    min-height: 100vh;
}

.IntroSectionImg {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.IntroSectionText {
    padding: 34vh 50px;
    width: 700px;
    color: #fff;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.IntroSectionText p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 30px;
}


/*Our Expertise*/

.OurExpertise {
    background: #fff;
}

.OurExpertiseIntroText h3 {
    font-family: 'bebasneue-bold';
    font-size: 22px;
    text-transform: uppercase;

}

.OurExpertiseIntroText h1 {
    margin: 20px 0;
}

.OurExpertiseIntroText p {
    font-size: 16px;
    line-height: 28px;
    width: 700px;
}

.ExpertiseList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.ListItem {
    width: 33.3%;
    margin-bottom: 100px;
}

.ListItem img {
    width: 50px;
}

.ListItem h3 {
    font-family: 'bebasneue-bold';
    font-size: 22px;
    text-transform: uppercase;
    padding: 24px 0 16px 0;
}

.ListItem p {
    font-size: 12px;
    line-height: 22px;
    width: 80%;
}



/*Homepage About*/


.HomepageAbout {
    background: linear-gradient(335deg, #E85F2C 0%, #E88324 100%);
}

.HomepageAbout .ControlledWidth {
    overflow: hidden;
}

.HomepageAbout .half {
    width: 50%;
    float: left;
}

.HomepageAbout h3 {
    font-family: 'bebasneue-bold';
    font-size: 22px;
    text-transform: uppercase;
}

.HomepageAbout h1 {
    color: #fff;
    margin-top: 50px;
}

.HomepageAbout p {
    color: #fff;
    font-size: 30px;
    line-height: 44px;
    margin-top: 68px;
    margin-bottom: 100px;
}


/*Homepage Case Studies*/

.HomepageCaseStudies {
    background: #EAEAEA;
}

.HomepageCaseStudies h3 {
    margin-bottom: 50px;
}

.HomepageCaseStudiesList {
    display: flex;
    justify-content: space-between;
}

.HomepageCaseStudiesListItem {
    width: 49%;
    color: #fff;
}

.HomepageCaseStudiesListItem .DarkLayer {
    background: rgba(0, 0, 0, 0.5);
    padding: 10% 5%;
    transition: background 0.5s ease;
}

.HomepageCaseStudiesListItem .DarkLayer:hover {
    background: rgba(0, 0, 0, 0.75);
}

.HomepageCaseStudiesListItem:hover .OrangeButton {
    color: #fff;
}

.HomepageCaseStudiesListItem h2 {
    font-family: 'objectsans-bold';
    font-size: 14px;
    text-transform: uppercase;
}

.HomepageCaseStudiesListItem h1 {
    margin: 10px 0 100px 0;
}

.HomepageCaseStudiesListItem h4 {
    font-family: 'objectsans-bold';
    font-size: 12px;
    line-height: 20px;
}

.HomepageCaseStudiesListItem p {
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0 18px 0;
}

.HomepageCaseStudies .CalmingTheChaos {
    background-image: url("../img/Homepage/CaseStudies/CaseStudy_CalmingTheChaos.jpg");
    background-size: cover;
}

.HomepageCaseStudies .ChangingCulture {
    background-image: url("../img/Homepage/CaseStudies/CaseStudy_ChangingCulture.jpg");
    background-size: cover;
}


/*Homepage Client Logos*/

.HomepageClientLogos {
    background: #fff;
}

.HomepageClientLogos h2 {
    margin-bottom: 50px;
}

.HomepageClientLogos .single-logo img {
    width: 70%;
    margin: 0 auto;
}

/*The Dots*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-dot:focus {
    outline: none;
}



/*Homepage Contact*/


.HomepageContact {
    background: #EAEAEA;
}

.HomepageContact .ControlledWidth {
    overflow: hidden;
}

.HomepageContact .ConnectWithUs {
    width: 50%;
    float: left;
}

.HomepageContact .GetInTouch {
    background: linear-gradient(335deg, #E85F2C 0%, #E88324 100%);
    width: 35%;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    color: #fff;
}

.HomepageContact h2 {

    margin-bottom: 50px;
}

.HomepageContact .ConnectWithUs h3 {
    font-family: 'bebasneue-bold';
    font-size: 30px;
    text-transform: uppercase;

    margin-top: 20px;
    margin-bottom: 10px;
}

.HomepageContact .ConnectWithUs p {
    font-size: 12px;
    line-height: 20px;
}

.HomepageContact form .input,
.HomepageContact form textarea {
    width: 100%;
    background: none;
    padding-bottom: 40px;
    margin-bottom: 50px;

    font-family: 'bebasneue-bold';
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;

    border: none;
    border-bottom: solid 1px #fff;
}

.HomepageContact form textarea {
    padding-bottom: 60px;
}

.HomepageContact form .input::placeholder,
.HomepageContact form textarea::placeholder {
    color: #fff;
}

.HomepageContact form .input:focus,
.HomepageContact form textarea:focus,
.HomepageContact form #send:focus {
    outline: none;
}


.HomepageContact form #send {
    background: none;
    border: solid 1px #fff;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    padding: 15px;

    font-family: 'bebasneue-bold';
    font-size: 16px;
    text-transform: uppercase;
}

.HomepageContact form #send:hover {
    background: #fff;
    color: #FF7D00;
    cursor: pointer;
}


/*About Page*/



.AboutInfo {
    background: #fff;
    padding-top: 100px;
}

.AboutInfo h2 {
    margin: 50px 0 20px 0;
}

.AboutInfo p {
    font-size: 16px;
    line-height: 28px;

    width: 800px;
}




/*Solutions Page*/

.SolutionsContainer {
    background: #EAEAEA;
}

.SolutionsList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SolutionsListItem {
    background: #fff;
    width: 30%;
    margin-bottom: 50px;
}

.SolutionsListItem > img {
    width: 100%;
} 

.SolutionsText {
    padding: 30px;
}

.SolutionsText p {
    font-size: 12px;
    line-height: 22px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    
    min-height: 120px;
}


/*Footer*/

footer {
    background: #212528;
    padding: 34px 0 36px 0;
}

footer .ControlledWidth {
    display: flex;
    justify-content: space-between;
}

footer h9,
footer h10 {
    color: #fff;
    font-size: 12px;
}

footer h10 a {
    color: #fff;
    text-decoration: none;
    font-family: 'objectsans-bold';
}

footer h10 a:hover {
    color: #FF7D00;
}





/*Responsiveness*/


/*	Less than 1020 */

@media (max-width: 1020px) {}

/*	Less than 820 */

@media (max-width: 820px) {}


/*	Less than 500 Mobile */

@media (max-width: 570px) {}
